@import '../fonts/index';
@import './utils/reset';
@import './components/index';
@import './modules/index';

* {
  font-family: 'Clash Grotesk';
}

body {
  background-color: #000;
  background-image: url('../img/stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  overflow: hidden;
}

.container {
  max-width: 1510px;
  width: 90%;
  margin: 0 auto;
}

@import './layout/index';
@import './sections/index';

@media (max-width: 700px) {
  body {
    background-image: unset;
  }
}
