.connect-wallet {
  width: 750px;
  padding: 50px 60px;

  .border-gradient {
    border-radius: 10px;

    &:before {
      background-color: #252534;
      border-radius: 10px;
    }
  }

  .connect {
    &-row {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 0 20px;
      margin-bottom: 9px;
    }

    &-title {
      color: #fff;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;

      span {
        background: linear-gradient(94deg, #20c7ed 0%, #d251fd 79.2%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-text {
      color: #8c8b92;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 50px;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px 0;
    }

    &-item {
      background: none;
      cursor: pointer;

      .border-gradient__content {
        padding: 16px 28px;
        height: max-content;
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        gap: 0 20px;
        color: #dedede;
        font-size: 28px;
        font-weight: 500;
      }

      &.connect-item--selected {
        background: linear-gradient(94deg, #20c7ed 0%, #d251fd 99.79%);
      }
    }

    &-close {
      cursor: pointer;
    }
  }
}

@media (max-width: 860px) {
  .connect-wallet {
    width: 90%;
    margin: 0 auto;
    padding: 30px;

    .connect {
      &-item {
        .border-gradient__content {
          font-size: 20px;
        }

        img {
          width: 40px;
          height: auto;
        }
      }

      &-title {
        font-size: 30px;
        margin-bottom: 0;
      }

      &-text {
        font-size: 16px;
      }

      &-row {
        margin-bottom: 0;
      }

      &-items {
        gap: 5px 0;
      }
    }
  }
}


@media (max-width: 500px) {
  .connect-wallet  {
    .connect {
      &-title {
        font-size: 25px;
        letter-spacing: 0.5px;
      }
    }
  }
}