@media (max-width: 1160px) {
  .footer {
    .container {
      grid-template-columns: 1.5fr 0.8fr 0.8fr 0.8fr;

      &:before {
        background-image: unset;
      }
    }

    &:before {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
}

@media (max-width: 950px) {
  .footer {
    padding: 30px;
  }
}

@media (max-width: 900px) {
  .footer {
    &-socials {
      margin-top: 0;
    }

    .container {
      grid-template-columns: 1fr;
      gap: 60px 0;
    }

    &-title {
      margin-bottom: 25px;
    }

    &-links {
      gap: 15px 0;
    }
  }
}
